{% extends "base.html" %}


{% block content %}

<div class="container">

  <br><br>

  <h1 style="text-align:center;font-size:60px;padding-top:200px" class="header-text animate animated flipInX">Thanks for your submission!</h1>
    <br>

      </div>

      <script type="text/javascript">
          function Redirect()
          {
              window.location="/";
          }
          // document.write("You will be redirected to home in 5 seconds");
          setTimeout('Redirect()', 3000);
      </script>


{% endblock %}
